<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/preview.css">
</head>

<body>
    {% load app_filters %}

    <h1 class="subject">{{ message.Subject }}</h1>

    <div class="info">
        <span class="recipients">{{ message.From.EmailAddress.Name }} ({{ message.From.EmailAddress.Address }})</span>
        <span class="data">{{ message.ReceivedDateTime|parse_date:"%Y-%m-%dT%H:%M:%SZ"|date:"d/m/Y H:i:s"}}</span>
    </div>
    <br/>
    <div>Para: {% for recipient in message.ToRecipients %}
        <span class="recipients">{{ recipient.EmailAddress.Name }} ({{ recipient.EmailAddress.Address }})</span>, 
        {% endfor %}
    </div>
    <div>CC: {% for recipient in message.CcRecipients %}
        <span class="recipients">{{ recipient.EmailAddress.Name }} ({{ recipient.EmailAddress.Address }})</span>, 
        {% endfor %}
    </div>
    <div>BCC: {% for recipient in message.BccRecipients %}
        <span class="recipients">{{ recipient.EmailAddress.Name }} ({{ recipient.EmailAddress.Address }})</span>, 
        {% endfor %}
    </div>
    <br/>
    <div>{% for attachment in attachments %}
        <a id="{{ attachment.Name }}" class="attachment" target="_blank" href="/{{ saved_path }}/{{ message.Subject | slugify }}/{{ attachment.filename }}">
            <span><i class="fa fa-paperclip"></i> {{ attachment.Name }}</span>
        </a>
        {% endfor %}
    </div>
    <br/>
    <div class="email_body">
        {% autoescape off %} {{ message.Body.Content }} {% endautoescape %}
    </div>

</body>

</html>